.backLink {
  width: 120px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-weight: 500;
  font-size: 1.6rem;
  padding: 5px;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin-bottom: 16px;
}


.backLink:active,
.backLink:hover {
  color:white;
  background-color: black;
}

.text {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
  color: red;
}

.span {
  text-align: center;
  font-size: 4rem;
  color: red;
}

.mainContainer {
  padding: 10px;
}